In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('fromYelp.txt', sep='\t')

In [7]:
df.shape

(60, 1)

In [8]:
df.head()

                            Food (food)
0                Acai Bowls (acaibowls)
1                       Bagels (bagels)
2                   Bakeries (bakeries)
3  Beer, Wine & Spirits (beer_and_wine)
4      Beverage Store (beverage_stores)

In [30]:
# start our conditional statement

where = '(\"'

with open('fromYelp.txt') as f:
    for i in range(4):
        where +=  f.readline().strip() + '\", \"'

# drop (comma, space, quote)
where = where[:-3]

# close off our conditional
where += ")"

print(where)

("Food (food)", "Acai Bowls (acaibowls)", "Bagels (bagels)", "Bakeries (bakeries)")